/* -=-=-=-=- Modal boxes default styling -=-=-=-=-=- */
.modal-project{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}
.modal-window{
    position: absolute;
    left: 5%;
    top: 10%;
    width: 90%;
    height: 80%;
    background-color: #E9F4F2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}

.modal-filter{
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.close-btn{
    position: absolute;
    right: 7%;
    top: 2vw;
    height: 24px;
    z-index: 4;

}

.modal-text{
    position: relative;
    width: 80%;
}
.modal-side{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.modal-skills{
    font-family: Ubuntu-Medium, sans-serif;
    font-size: 16px;
    margin: 1em 0;
}
.modal-skill{
    font-family: OpenSans-Regular, sans-serif;
    font-size: 14px;
    line-height: 1.2em;
}


/* -=-=-=-=-=- End of modal boxes default styling -=-=-=-=-=- */

.title{
    margin: 1em 0;
    font-family: Ubuntu-Medium, sans-serif;
    font-size: 18px;
    margin-left: 5%;
}

.project-section{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    background-color: #E9F4F2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 40px;
}
.project::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #116050;
}
.logo-container{
    margin-top: 35px;
    position: relative;
    width: 80%;
    height: 120px;
}
.p-logo{
    position: absolute;
    left:50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.p-title{
    font-family: Ubuntu-Medium, sans-serif;
    font-size: 14px;
    margin: 2em 0 1em 0;

}

.p-subtitle{
    font-family: OpenSans-Italic, sans-serif;
    font-size: 14px;
    margin: 1em 0 2em 0;
    max-width: 80%;
    min-height: 2em;
}
.project-subtitle{
    margin: 0 0 3em 0;

}
.p-desc{
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    width: 100%;
    min-height: 7em;
}
.project-short-desc{
    width: 80%;

}
.readmore {
    font-family: Ubuntu-Medium, sans-serif;
    font-size: 16px;
    border-radius: 100px;
    padding: .6em 1.2em;
    white-space: nowrap;
    color: #F5A65B;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: inset 0 0 0 2px #F5A65B;
    -moz-box-shadow: inset 0 0 0 2px #F5A65B;
    box-shadow: inset 0 0 0 2px #F5A65B;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: .22s;
    fill: #F5A65B;
    text-decoration: none;
    margin: 2em 0;
}
.readmore:hover{
    background-color: #F5A65B;
    color: #fff;
}

.github{
    font-family: Ubuntu-Medium, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: .6em 1.2em;
    white-space: nowrap;
    transition: .3s;
    color: #fff;
    background-color: #F5A65B;
    border: none;
    text-decoration: none;
    fill: #fff;
    margin: 2em 0 1.5em 0;
    font-size: 16px;
    z-index: 4;
}
.github>*{
    height: 1.4em;
    margin-right: .5em;
}
.github:hover{
    background-color: #FFC996;
}
.corner{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
}
.desktop{
    display: none;
}

@media screen and (min-width: 1033px){
    .title{
        margin: 2em 0 0 0;
    }
    .container{
        width: 1033.3px;
        margin: 0 auto;
    }
    .project-section{
        flex-direction: row;
        justify-content: space-between;
        margin: 3em 0;
    }
    .project{
        width: 30%;
        margin-bottom: 0;
    }
    .modal-window{
        width: 824px;
        height: 550px;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        overflow: unset;
        flex-direction: row;
        align-items: flex-start;
    }
    .modal-side{
        margin-top: 4em;
    }
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }
    .corner{
        width: 220px;
        /*left: unset;*/
        /*right: 0;*/
        /*transform: scaleX(-1);*/
    }
    .github{
        margin: 4em 0 1.5em 0;
    }
}